<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalTrade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>907150DC1CCF93B2004BC8E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907150F01CCF93B3004BC8E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907150FB1CCF93B3004BC8E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
